<form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-input-container class="half-width"
     dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
      <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
      <mat-hint>
        <span [hidden]="!(formErrors.firstname)">
          {{formErrors.firstname}}</span>
      </mat-hint>
    </mat-input-container>
    <mat-input-container class="half-width"
     dividerColor="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
      <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
      <mat-hint>
        <span [hidden]="!(formErrors.lastname)">
          {{formErrors.lastname}}</span>
      </mat-hint>
    </mat-input-container>
  </p>
  <p>
    <mat-input-container class="half-width"
     dividerColor="{{(formErrors.telnum) ? 'warn' : 'primary'}}">
      <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
      <mat-hint>
        <span [hidden]="!(formErrors.telnum)">
          {{formErrors.telnum}}</span>
      </mat-hint>
    </mat-input-container>
    <mat-input-container class="half-width"
     dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
      <input matInput formControlName="email" placeholder="Email" type="email" email required>
      <mat-hint>
        <span [hidden]="!(formErrors.email)">
          {{formErrors.email}}</span>
      </mat-hint>
    </mat-input-container>
  </p>
  <table class="form-size">
    <td>
    <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
    </td>
    <td>
    <mat-select placeholder="How?" formControlName="contacttype">
      <mat-option *ngFor="let ctype of contactType" [value]="ctype">
        {{ ctype }}
      </mat-option>
    </mat-select>
    </td>
    </table>
  <p>
    <mat-input-container class="full-width">
      <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
    </mat-input-container>
  </p>
  <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
</form>